/* WB test: xsns_dpn_W-b — exception.c p_my_pcb->p_runtsk==NULL (idle PE, custom idle) */
INCLUDE("tecsgen.cfg");
INCLUDE("ttsp_target.cfg");
#include "out.h"

CLASS(CLS_ALL_PRC1){
	CRE_TSK(MAIN_TASK, {TA_ACT, 1, main_task, 1, TTSP_TASK_STACK_SIZE, NULL});
}
#if TNUM_PRCID >= 2
CLASS(CLS_PRC2){
	DEF_EXC(TTSP_EXCNO_PE2_A, {TA_NULL, xsns_dpn_W_b_exc});
}
#endif /* TNUM_PRCID >= 2 */
ATT_INI({TA_NULL, 0, ttsp_test_lib_init});
