/* WB test: act_tsk_W-a — TA_NOACTQUE task causes E_QOVR (task_manage.c L137 br[1]) */
INCLUDE("tecsgen.cfg");
INCLUDE("ttsp_target.cfg");
#include "out.h"

CRE_TSK(MAIN_TASK, {TA_ACT, 1, main_task, 1, TTSP_TASK_STACK_SIZE, NULL});
CRE_TSK(ASP_task_manage_act_tsk_W_a_TASK1, {TA_NULL, 1, asp_task_manage_act_tsk_W_a_task1, 10, TTSP_TASK_STACK_SIZE, ttg_stack_1});
CRE_TSK(ASP_task_manage_act_tsk_W_a_TASK2, {TA_NOACTQUE|TA_ACT, 1, asp_task_manage_act_tsk_W_a_task2, 11, TTSP_TASK_STACK_SIZE, ttg_stack_2});
