/* WB timing: mrot_rdq dispatch race (sys_manage.c L273)
 * PE1 MAIN: mrot_rdq(1, TPRI_SELF) loop ; PE2 RACER: sus_tsk/rsm_tsk(MAIN) loop */
INCLUDE("tecsgen.cfg");
INCLUDE("ttsp_target.cfg");
#include "out.h"

CLASS(CLS_ALL_PRC1){
	CRE_TSK(MAIN_TASK, {TA_ACT, 1, main_task, 1, TTSP_TASK_STACK_SIZE, NULL});
}
CLASS(CLS_ALL_PRC2){
	CRE_TSK(RACER_TASK, {TA_ACT, 1, racer_task, 1, TTSP_TASK_STACK_SIZE, NULL});
}
ATT_INI({TA_NULL, 0, ttsp_test_lib_init});
