/* WB test: time_event_W-b — time_event.c L302 br[0] (tmevtb_delete go-up) */
INCLUDE("tecsgen.cfg");
INCLUDE("ttsp_target.cfg");
#include "out.h"

CRE_TSK(MAIN_TASK, {TA_ACT, 1, main_task, 1, TTSP_TASK_STACK_SIZE, NULL});
CRE_ALM(ASP_time_event_W_b_ALM1, {TA_NULL, {TNFY_HANDLER, 0, time_event_W_b_alm_handler}});
CRE_ALM(ASP_time_event_W_b_ALM2, {TA_NULL, {TNFY_HANDLER, 0, time_event_W_b_alm_handler}});
CRE_ALM(ASP_time_event_W_b_ALM3, {TA_NULL, {TNFY_HANDLER, 0, time_event_W_b_alm_handler}});
CRE_ALM(ASP_time_event_W_b_ALM4, {TA_NULL, {TNFY_HANDLER, 0, time_event_W_b_alm_handler}});
CRE_ALM(ASP_time_event_W_b_ALM5, {TA_NULL, {TNFY_HANDLER, 0, time_event_W_b_alm_handler}});
CRE_ALM(ASP_time_event_W_b_ALM6, {TA_NULL, {TNFY_HANDLER, 0, time_event_W_b_alm_handler}});
