#include "ttsp_target_test.h"

CLASS(CLS_PRC1) {
	DEF_INH(TTSP_IPI_INTNO_PRC1, {TA_NULL, ttsp_target_gain_tick_ipi});
	CFG_INT(TTSP_IPI_INTNO_PRC1, {TA_ENAINT, TTSP_IPI_INTPRI});
}

CLASS(CLS_PRC2) {
	DEF_INH(TTSP_IPI_INTNO_PRC2, {TA_NULL, ttsp_target_gain_tick_ipi});
	CFG_INT(TTSP_IPI_INTNO_PRC2, {TA_ENAINT, TTSP_IPI_INTPRI});
}
